name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: apt-get install -y libxml2
    - name: Build
      run: swift build
    - name: Run tests
      run: swift test
